html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    background: lightblue;
    padding: 2em;
}

.card {
    text-align: center;
    margin: 10px;
}

span {
    height: 50;
    display: block;
    background-color: lightskyblue;
}

.content {
    background-color: white;
    padding: 20px 10px;
}

p .date {
    text-align: center;
    font-size: 7em;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    text-align: center;
}

p .desc {
    margin: 10px;
}